<%- include("../template/cabecera") %>
<%- include("../partials/navigation") %>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID Venta</th>
            <th scope="col">Total Venta</th>
            <th scope="col" class="text-end">Acciones</th>
        </tr>
    </thead>
        <tbody>
            <% if(ventas.length != 0) {%>
            <% for(let venta = 0; venta < ventas.length; venta++) {%>
                <tr>
                    <td><%=ventas[venta].ID_VENTA %></td>
                    <td><%=ventas[venta].TOTAL_VENTA %></td>
                    <td class="text-end">
                        <a href="/ventas/edit/<%=ventas[venta].ID_VENTA%>" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Editar</a>
                        <a href="/ventas/delete/<%=ventas[venta].ID_VENTA%>" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Eliminar</a>
                    </td>
                </tr>
                <% } %>
                <% } else {%>
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>No hay ventas registradas aún</p>
                        <a href="/ventas/add">Registra una venta</a>
                    </div> 
                </div>
                <% } %>
    </tbody>
</table>