<%- include("../template/cabecera") %>
<%- include("../partials/navigation") %>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/comandas/edit/<%=comandas.ID_COMANDA%>" method="POST">
                        <div class="form-group">
                            <input type = "text" value = "<%=comandas.NUMERO_MESA%>" class = "form-control" name = "numero_mesa" placeholder="Número Mesa" autocomplete="off" autocomplete="chrome-off" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" value = "<%=comandas.NUMERO_PERSONAS%>" class = "form-control" name = "numero_personas" placeholder="Número Personas" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" value = "<%=comandas.ANOTACION_COMANDA%>" class= "form-control" name = "anotacion_comanda" placeholder="Anotación Comanda" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" value = "<%=comandas.CANTIDAD_COMANDA%>" class= "form-control" name = "cantidad_comanda" placeholder="Cantidad Comanda" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" value = "<%=comandas.IMPORTE_COMANDA%>" class= "form-control" name = "importe_comanda" placeholder="Importe Comanda" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class = "btn btn-success btn-block">
                                Modificar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
